<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--<table>
        <tr>
            <td>이름</Td>
            <td>전화번호</Td>
        </tr>
    </table>-->
    <table style="border:1px solid red; width:70%;">
    {% for item in dataList %}
        <tr>
            <td style="border:1px solid blue">{{item.name}}</td>
            <td style="border:1px solid blue">{{item.phone}}</td>
        </tr>
    {%endfor%}
    </table>

    {% load django_template_maths %}

    {{ 10|add:5 }} # print 15

</body>
</html>